.registerFrom{
    background-color: rgb(235, 232, 232);
}
.heading{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-family: cursive;
    text-shadow: 2px 2px grey;
}
.rForm{
    margin: 0;
    padding: 10px;
    overflow: auto;
}
.firstRow{
    margin: 5px;
    padding: 0;
}
.btnRow{
    margin-right: 20px;
    float: right;
}
label{
    padding: 0;
    margin: 0;
}
.coll{
    margin: 10px 0px;
    width: 100%;
}