.center-main {
  align-self: center;
  margin: 0 auto;
}

.draw-block {
  text-align: center;
}

.draw-section {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 50px;
}

.texxt {
  font-size: 30px;
  text-align: center;
  font-family: cursive;
  color: white;
}
